<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公有nav</title>
</head>
<body>
<!--一级导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment main-page-padding-nav m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui white header item" style="font-style: italic;">
                Temasdw
            </h2>
            <a href="/admin/blog" th:href="@{/admin/blogs}" class="m-item item mobile-hide-nav"
               th:classappend="${n==1}?'active'"><i
                    class="home icon"></i>博客</a>
            <a href="#" th:href="@{/admin/category}" class="m-item item mobile-hide-nav"
               th:classappend="${n==2}?'active'"><i class="idea icon"></i>文章分类</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item mobile-hide-nav"
               th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签</a>

            <div class="right m-item mobile-hide-nav menu">
                <div class="ui dropdown item">
                    <div class="text"><img class="ui avatar image"
                                           th:if="${session.user!=null}" th:src="@{${session.user.avatar}}"
                                           th:text="${session.user.nickname}"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="ui menu toggle icon button sidebar-right-aligned show-sidebar-mobile">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div th:fragment="menu1(n)" class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/createBlog}" class="item" th:classappend="${n==1}?'active'">发布博客</a>
            <a href="#" th:href="@{/admin/blogs}" class="item" th:classappend="${n==2}?'active'">博客列表</a>
            <a href="#" th:href="@{/admin/tags/addTag}" class="item" th:classappend="${n==3}?'active'">新增标签</a>
            <a href="#" th:href="@{/admin/tags}" class="item" th:classappend="${n==4}?'active'">标签列表</a>
            <a href="#" th:href="@{/admin/category/addCategory}" class="item" th:classappend="${n==5}?'active'">新增分类</a>
            <a href="#" th:href="@{/admin/category}" class="item" th:classappend="${n==6}?'active'">分类列表</a>
        </div>
    </div>
</div>
</body>
</html>