<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_css_script :: common_head(~{::title}, ~{::link})">
  <title>后台管理-博客列表页面</title>
  <link rel="stylesheet" href="../../static/admin/css/blog.css" th:href="@{/admin/css/index.css}">
</head>
<body>
<!--导航-->
<nav th:replace="common/comman_adminnav :: menu(1)"></nav>
<!--二级导航-->
<div th:replace="common/comman_adminnav :: menu1(2)"></div>

<!--主体内容-->
<div class="mainContent-padding index-main-area-width">
  <div class="ui container">
    <form action="#" method="post" class="ui segment form">
      <div class="inline fields">
        <div class="field">
          <input type="text" name="title" placeholder="标题">
        </div>
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="type">
            <i class="dropdown icon"></i>
            <div class="default text">分类</div>
            <div class="menu">
              <div class="item" data-value="1">日志</div>
              <div class="item" data-value="2">开发者手册</div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="recommend" name="recommend">
            <label for="recommend">推荐</label>
          </div>
        </div>

        <div class="field">
          <button class="ui mini teal basic button">
            <i class="search icon"></i>搜索
          </button>
        </div>

        <div class="field">
          <a href="#" class="ui mini teal button">新增</a>
        </div>

      </div>
    </form>


    <table class="ui celled table">
      <!--表头-->
      <thead>
      <tr>
        <th></th>
        <th>文章标题</th>
        <th>文章类型</th>
        <th>推荐</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
      </thead>

      <!--列表内容-->
      <tbody>
      <tr>
        <td>1</td>
        <td>你不是真正的快乐</td>
        <td>情感天地</td>
        <td>否</td>
        <td>2020-11-22</td>
        <td>
          <a href="#" class="ui mini teal button">编辑</a>
          <a href="#" class="ui mini red button">删除</a>
        </td>
      </tr>
      </tbody>
      <!--底部分页按钮-->
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui mini pagination menu">
            <a href="#" class="item">上一页</a>
            <a href="#" class="item">下一页</a>
          </div>
        </th>
      </tr>
      </tfoot>

    </table>
  </div>
</div>

<!--底部footer-->
<footer th:replace="common/common_footer :: footer"></footer>

<!--公用JS-->
<th:block th:replace="common/common_css_script :: script">
</th:block>

<!-- 手机端sidebar显示菜单-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('mobile-hide-nav');
  });

  $('.ui.dropdown')
    .dropdown({
      on: 'hover'
    })
  ;
</script>
</body>
</html>