

/* 归档页相关css*/

.archives-main-area-width {
  max-width: 60em !important;
  margin: auto !important;
}

.archives-total-number {
  display: inline-block !important;
  color: #2185d0;
}

.m-timeline-header-text {
  text-align: center!important;
  padding-top: 1.5em !important;
  font-size: 25px;
  color: #98aab8;
}
