/**
前台博客首页css
 */
.article-total-number {
  display: inline-block !important;
  color: #2185d0;
}

.article-content-text {
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  line-height: 1.5;
}

.label-margin-mini {
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

.recent-update-text-color {
  color: rgba(0, 0, 0, .87) !important;
  font-weight: 300;
  font-style: oblique;
}

.right-side-header-text-bold {
  font-weight: bolder;
}