<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_css_script :: common_head(~{::title}, ~{::link})">
    <title>归档页面</title>
    <link rel="stylesheet" href="../static/css/blog/archives.css" th:href="@{/css/blog/archives.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
    <link rel="stylesheet" href="../static/css/archives/vertical-timeline.css"
          th:href="@{/css/archives/vertical-timeline.css}">
</head>
<body>
<!--导航-->
<nav th:replace="common/common_nav :: menu(4)"></nav>

<!--主体内容-->
<div class="mainContent-padding archives-main-area-width">
    <div class="ui container">
        <!--分类列表头部-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui header" style="color: #677686">归档</h3>
                </div>

                <div class="right aligned column">
                    <h3 class="ui header" style="color: #677686">共 <p class="archives-total-number"><span
                            th:text="${countBlog}">博客总数</span></p> 篇
                    </h3>
                </div>
            </div>
        </div>

        <!--Jquery纵向时间轴-->
        <div class="ui attached segment">
            <th:block th:each="item : ${archiveMap}">
                <h2 class="m-timeline-header-text" th:text="${item.key}">年份</h2>
                <div class="timeline" th:each="blog:${item.value}">
                    <div data-vtdate="September 2016"
                         th:attr="data-vtdate=${#dates.format(blog.createTime, 'yyyy-MM-dd')}"
                         style="padding:0.5em 1em !important;">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}"><h3 th:text="${blog.title}">文章标题</h3>
                            <p style="padding-bottom: 0.5em!important;" th:text="${blog.description}">
                                文章描述
                            </p></a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="common/common_footer :: footer"></footer>

<!--公用JS-->
<th:block th:replace="common/common_css_script :: script">
</th:block>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/js/archives/vertical-timeline.js" th:src="@{/js/archives/vertical-timeline.js}"></script>

<!-- 手机端sidebar显示菜单-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('mobile-hide-nav');
    });
</script>

<!--Jquery纵向时间轴控制-->
<script>
    $('.timeline').verticalTimeline({
        animate: 'slide'
    });
</script>
</body>
</html>