<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_css_script :: common_head(~{::title}, ~{::link})">
    <title>博客首页</title>
    <link rel="stylesheet" href="../static/css/blog/main.css" th:href="@{/css/blog/main.css}">
</head>
<body>
<!--导航-->
<nav th:replace="common/common_nav :: menu(1)"></nav>

<!--主体内容-->
<div class="mainContent-padding">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--主体内容左边区域-->
            <div class="eleven wide column">
                <!--轮播图-->
                <div class="ui segment" style="padding: 0; width:100%;height: 300px">
                    <div class="swiper-container" style="width: 100%; height: 100%; padding: 0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img style="width: 100%; height: 100%"
                                                           src="https://img.php.cn/upload/article/000/000/046/5ebb5ec365e62453.jpg"/>
                            </div>
                            <div class="swiper-slide"><img style="width: 100%; height: 100%"
                                                           src="https://img.zcool.cn/community/0131835d4b90a4a80120695c99a894.png@1200w_1l_2o_100sh.jpg.webp"
                                                           alt=""></div>
                            <div class="swiper-slide"><img style="width: 100%; height: 100%"
                                                           src="https://img95.699pic.com/photo/40006/9851.jpg_wh300.jpg"
                                                           alt=""></div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>

                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>

                <!-- 文章头-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui header" style="color: #677686">文章列表</h3>
                        </div>

                        <div class="right aligned column">
                            <h3 class="ui header" style="color: #677686">共 <p class="article-total-number"
                                                                              th:text="${page.totalElements}">总文章数</p> 篇
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- 文章列表-->
                <div class="ui attached segment">
                    <div class="ui padded segment" th:each="blog: ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <!--文章内容-->
                            <div class="eleven wide column">
                                <h3 class="ui header"><a class="m-black" href="#" target="_blank"
                                                         th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">文章标题</a>
                                </h3>
                                <p class="article-content-text" th:text="|${blog.description}......|">文章描述</p>

                                <div class="ui stackable grid">
                                    <!--作者头像，名字，文章发表时间以及点击量-->
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--作者头像-->
                                                <img class="ui avatar image" src="https://picsum.photos/id/100/100/100"
                                                     th:src="${blog.user.avatar}">
                                                <!--作者名字-->
                                                <div class="content">
                                                    <div class="header">
                                                        <a href="#" th:text="${blog.user.nickname}">作者名称</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--文章发表时间-->
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">更新日期</span>
                                            </div>
                                            <!--访客数量量-->
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">浏览次数</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章分类-->
                                    <div class="right aligned five wide column">
                                        <a href="#" th:href="@{/categories/{categoryId}(categoryId=${blog.type.id})}" class="ui teal label m-padded-small text-thin"
                                           th:text="${blog.type.name}">文章分类</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章配图-->
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img class="ui rounded image"
                                         src="https://picsum.photos/id/1/800/500" th:src="${blog.firstPicture}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 文章底部分页按钮-->
                <div class="ui bottom attached segment" th:if="${page.totalPages>1}">
                    <div class="ui center aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page = ${page.number}-1)}"
                               th:unless="${page.first}" class="ui basic teal mini button">上一页</a>
                        </div>

                        <div class="column">
                            <a href="#" th:href="@{/(page = ${page.number}+1)}"
                               th:unless="${page.last}" class="ui basic teal mini button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--主体内容右边区域-->
            <div class="five wide column">
                <!--个人信息内容-->
                <div class="ui segments">
                    <div class="ui secondary segment right-side-header-text-bold">
                        <div class="ui two column grid">
                            <div class="column"><i class="info icon"></i>关于我</div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <div class="ui mini horizontal link list">
                            <div class="item">
                                <img class="ui circular image" src="https://picsum.photos/id/100/100/100">
                                <div class="content">
                                    <h4 class="ui header">快乐的石小胖</h4>
                                    <p style="padding-top: 1em; font-size: 13px">
                                        <i class="info circle icon"></i>身份：尼斯萨比玛星球的公主</p>
                                    <p style="padding-top: 0.1em; font-size: 13px">
                                        <i class="home icon"></i>简介：美食品鉴专家</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--分类内容-->
                <div class="ui segments">
                    <div class="ui secondary segment right-side-header-text-bold">
                        <div class="ui two column grid">
                            <div class="column"><i class="idea icon"></i>分类</div>

                            <div class="right aligned column">
                                <a href="#" th:href="@{/categories/-1}">More<i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/categories/{categoryId}(categoryId=${type.id})}" class="item" th:each="type : ${topTypes}">
                                <span  th:text="${type.name}">分类名称</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">包含的博客数量</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!--标签内容 顶部-->
                <div class="ui segments">
                    <div>
                        <div class="ui secondary segment right-side-header-text-bold">
                            <div class="ui two column grid">
                                <div class="column"><i class="tags icon"></i>标签</div>

                                <div class="right aligned column">
                                    <a href="#" th:href="@{/tags/-1}">More<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--标签详情-->
                    <div class="ui segment" id="labels">
                        <a href="#" th:href="@{/tags/{tagId}(tagId=${tag.id})}" class="ui teal left pointing label label-margin-mini" th:each="tag : ${topTags}">
                            <span th:text="${tag.name}">文章标签</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">包含的博客数量</div>
                        </a>
                    </div>
                </div>

                <!--最近更新-->
                <div class="ui segments">
                    <div class="ui secondary segment right-side-header-text-bold">
                        <i class="bookmark icon"></i>最近更新
                    </div>

                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="recent-update-text-color" th:text="${blog.title}">推荐的博客文章</a>
                    </div>
                </div>

                <!--最新评论-->
<!--                <div class="ui segments">-->
<!--                    <div class="ui secondary segment right-side-header-text-bold">-->
<!--                        <i class="rocketchat icon" style="font-size: 17px;font-weight: bolder"></i>最新评论-->
<!--                    </div>-->

<!--                    <div class="ui segment">-->
<!--                        <div class="ui horizontal link list">-->
<!--                            <div class="item">-->
<!--                                &lt;!&ndash;留言者头像&ndash;&gt;-->
<!--                                <img class="ui avatar image" src="https://picsum.photos/id/100/100/100">-->
<!--                                &lt;!&ndash;留言者名字&ndash;&gt;-->
<!--                                <div class="content">-->
<!--                                    <div class="header">-->
<!--                                        <a href="#">Henry:</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;留言内容&ndash;&gt;-->
<!--                            <div class="item">-->
<!--                                <p>石小胖真的是太快乐了</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ui segment">-->
<!--                        <div class="ui horizontal  link list">-->
<!--                            <div class="item">-->
<!--                                &lt;!&ndash;留言者头像&ndash;&gt;-->
<!--                                <img class="ui avatar image" src="https://picsum.photos/id/100/100/100">-->
<!--                                &lt;!&ndash;留言者名字&ndash;&gt;-->
<!--                                <div class="content">-->
<!--                                    <div class="header">-->
<!--                                        <a href="#">Henry:</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;留言内容&ndash;&gt;-->
<!--                            <div class="item">-->
<!--                                <p>石小胖真的是太快乐了</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ui segment">-->
<!--                        <div class="ui horizontal link list">-->
<!--                            <div class="item">-->
<!--                                &lt;!&ndash;留言者头像&ndash;&gt;-->
<!--                                <img class="ui avatar image" src="https://picsum.photos/id/100/100/100">-->
<!--                                &lt;!&ndash;留言者名字&ndash;&gt;-->
<!--                                <div class="content">-->
<!--                                    <div class="header">-->
<!--                                        <a href="#">Henry:</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;留言内容&ndash;&gt;-->
<!--                            <div class="item">-->
<!--                                <p>石小胖真的是太快乐了</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ui segment">-->
<!--                        <div class="ui horizontal link list">-->
<!--                            <div class="item">-->
<!--                                &lt;!&ndash;留言者头像&ndash;&gt;-->
<!--                                <img class="ui avatar image" src="https://picsum.photos/id/100/100/100">-->
<!--                                &lt;!&ndash;留言者名字&ndash;&gt;-->
<!--                                <div class="content">-->
<!--                                    <div class="header">-->
<!--                                        <a href="#">Henry:</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;留言内容&ndash;&gt;-->
<!--                            <div class="item">-->
<!--                                <p>石小胖真的是太快乐了</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

    </div>
</div>

<!--底部footer-->
<footer th:replace="common/common_footer :: footer"></footer>


<!--公用JS-->
<th:block th:replace="common/common_css_script :: script">
</th:block>

<!-- 图片轮播JS-->
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        // 滚动方向 horizontal/vertical
        direction: 'horizontal',
        // 自动播放
        autoplay: 2000,
        // 是否循环播放
        loop: true,
        // 如果需要分页器（小圆点）
        // 是否需要分页器
        pagination: '.swiper-pagination',
        // 点击分页器是否切换到对应的图片 是 true 否 false
        paginationClickable: true,

        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        // 用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        // 如果设置为false，用户操作swiper之后自动切换不会停止，每次都会重新启动autoplay。
        // 操作包括触碰，拖动，点击pagination等。
        autoplayDisableOnInteraction: false,
    })

</script>
<!-- 手机端sidebar显示菜单-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('mobile-hide-nav');
    })
</script>
</body>
</html>